body {
  background-color: rgb(255, 175, 175);
  margin: 0%;
  padding: 0%;
}

h1 {
  margin: 0%;
  color: #830404;
  font-size: 52px;
  padding-left: 1.75%;
  padding-bottom: 1%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Gothic", "Century Gothic", sans-serif;
}

#logo-img {
  padding-left: 1.75%;
  width: 6.25%;
  height: auto;
}

.hori-br-ln {
  border: 1px solid #7d0404;
  margin: 10px 0;
}

.nav-links {
  align-content: right;
  display: flex;
  gap: 50px;
  list-style-type: none;
  justify-content: right;
  padding-right: 30px;
}

.navbar {
  background-color: #280101;
  padding: 0.5px 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #c65151;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
}